<nav class="webring" aria-labelledby="webring">
  <h2 id="webring">LMU Webring</h2>
  <p>This site is part of <a rel="external" href="https://webring.landmarkirl.xyz/">LMU Webring</a>.</p>
  <ul>
    <li><a rel="external" href="https://webring.landmarkirl.xyz/prev">Previous website</a></li>
    <li><a rel="external" href="https://webring.landmarkirl.xyz/random">Random website</a></li>
    <li><a rel="external" href="https://webring.landmarkirl.xyz/next">Next website</a></li>
  </ul>
</nav>
